<body>
    <div style="margin-top: 50px;">
        <h1 style="text-align:center">Welcome to the shop!</h1>
        <div>
            <button (click)="checkout()" style="margin-left: 80%;" routerLink="../products-list">Proceed to checkout ({{cartProducts.length}})</button>
        </div>
        <div class="row">
            <div class='col-4' *ngFor="let product of Products">
                <img src="{{product.pictureURL}}" height=100 width=100 class="center" style="border-radius:50%"/>
                <p>Product: {{product.rowKey}}</p>
                <p>Price: {{product.price}}$</p>
                <p>Available: {{product.quantity}}</p>
                <button (click)="addProductToCart(product)" class="deleteBtn"> Add to cart </button>
            </div>
        </div>
    </div>
</body>