
    <div class = "container">
        <h1 class = "strokeme">Alexandru Rusmir</h1>
        <h2>Frontend Developer</h2>
        <div class = "image">
            <img src = "assets/images/alex.jpg" alt="Alex Rusmir">
        </div>
        <p>
            Buna! Eu sunt Alex si imi place sa mananc.<br>
            Ma poti contacta pe e-mail: <i style="color: rgb(146, 191, 149);"><u>alexandru.rusmir02@e-uvt.ro</u></i>
        </p>
    </div>
    <div>&nbsp;</div> 
    <div class = "container">
        <h1 class = "strokeme">Ana-Iulia Coporan</h1>
        <h2>Backend Developer</h2>
        <div class = "image">
            <img src = "assets/images/ana.jpeg" alt="Ana Coporan">
        </div>
        <p>
            Buna! Eu sunt Ana si imi place sa citesc.<br>
            Ma poti contacta pe e-mail: <i style="color: rgb(146, 191, 149);"><u>ana.coporan01@e-uvt.ro</u></i>
        </p>
    </div>
    <div>&nbsp;</div> 
    <div class = "container">
        <h1 class = "strokeme">Patricia Ruhstrat</h1>
        <h2>Frontend Developer</h2>
        <div class = "image">
            <img src = "assets/images/paty.jpg" alt="Patricia Ruhstrat">
        </div>
        <p>
            Buna! Eu sunt Paty si imi place skincare-ul.<br>
            Ma poti contacta pe e-mail: <i style="color: rgb(146, 191, 149);"><u>patricia.ruhstrat01@e-uvt.ro</u></i>
        </p>
    </div>
    <div>&nbsp;</div> 
    <div class = "container">
        <h1 class = "strokeme">Alexandra Ioana Morariu</h1>
        <h2>Backend Developer</h2>
        <div class = "image">
            <img src = "assets/images/ale.jpeg" alt="Alexandra Morariu">
        </div>
        <p>
            Buna! Eu sunt Ale si imi place sa dansez.<br>
            Ma poti contacta pe e-mail: <i style="color: rgb(146, 191, 149);"><u>ioana.morariu01@e-uvt.ro</u></i>
        </p>
    </div>
    <div>&nbsp;</div> 