<div class="container vh-100" style="width: 40%; margin-left: 30%;">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-2x"></fa-icon>
                </div>
                <div class="text-center">
                    <h2>Register</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    Want to register?
                </p>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="txt_field">
                        <input type="text" id="username" placeholder="Username" formControlName="username"
                            name="username" />
                    </div>
                    <div class="txt_field">
                        <input type="email" id="email" placeholder="Email" formControlName="email"
                            name="email" />
                    </div>
                    <div class="txt_field">
                        <input type="password" id="password" placeholder="Password"
                            formControlName="password" name="password" />
                    </div>
                    <div class="txt_field">
                        <input type="password" id="confirmPassword" placeholder="Confirm Password"
                            formControlName="confirmPassword" name="confirmPassword" />
                    </div>
                    <input type="submit" class="btn btn-primary w-100" style="margin-top: 4%; margin-bottom: 10%;"value="Login" name="">
                        <label style="display: inline-flex;">Already have an account? <a class="nav-link" routerLink="../login"> &nbsp;Login here!</a></label> 
                </form>
            </div>
        </div>
    </div>
</div>